<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>4lZLVuVzfSSArKZTlFkfNt83vRJOORZ6c3GxHoZivRmhotQNE3</string>
	<key>consumer_Key</key>
	<string>7IKcCFX1ygstSoNh0n2QoAb6I</string>
</dict>
</plist>
